# Ignore Terraform build and state files
.terraform/              # Folders anywhere
*.tfstate
*.tfstate.backup
.terraform.lock.hcl      # File anywhere

# Ignore local tfvars and plans
**/*.tfvars
*.tfvars.json
terraform.tfvars
*.tfplan
crash.log

# ignore Log files
log/
.log
.logs

# Ignore local environment files
**/.terraform/
**/.terraform.lock.hcl

# Backup files
backup/*
