# Keycloak

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=cHangeMePlease112!
KC_DB=postgres
KC_DB_PASSWORD=postgres
KC_DB_USERNAME=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/kc_db
KC_HOSTNAME=4.185.158.86
KC_HOSTNAME_PORT=8080
KC_HTTP_RELATIVE_PATH=/
KC_HTTP_ENABLED=true
PROXY_ADDRESS_FORWARDING=true
KC_HOSTNAME_STRICT=false
QUARKUS_HTTP_ACCESS_LOG_ENABLED=true
KC_PROXY=edge
KC_HOSTNAME_STRICT_BACKCHANNEL=false

# PostgreSQL

POSTGRES_DB=kc_db
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
# PERSISTENT
PGDATA=/var/lib/postgresql/data/pgdata
# NON PERSISTENT
# PGDATA: /tmp

# Oauth2-proxy

OAUTH2_PROXY_PROVIDER: oidc
OAUTH2_PROXY_OIDC_ISSUER_URL: http://4.185.158.86/realms/dev-lab
OAUTH2_PROXY_CLIENT_ID: demo-nginx
OAUTH2_PROXY_CLIENT_SECRET: "CHANGE_ME_CLIENT_SECRET"
OAUTH2_PROXY_COOKIE_SECRET: "0123456789abcdefghijklmnopqrstuv"
OAUTH2_PROXY_EMAIL_DOMAINS: "*"
OAUTH2_PROXY_UPSTREAMS: "http://nginx:8081"
OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
OAUTH2_PROXY_REVERSE_PROXY: "true"
OAUTH2_PROXY_COOKIE_SECURE: "false"
OAUTH2_PROXY_SET_XAUTHREQUEST: "true"
OAUTH2_PROXY_PASS_USER_HEADERS: "true"
OAUTH2_PROXY_REDIRECT_URL: http://4.185.158.86/oauth2/callback
OAUTH2_PROXY_SHOW_DEBUG_ON_ERROR: "true"