{ 
    "bip": "11.11.10.1/24",
    "data-root": "/mnt/docker-data",
    "storage-driver": "overlay2",
    "icc": false,
    "live-restore": true,
    "userland-proxy": false,
    "no-new-privileges": true
}
